.container {
  max-width: 600px;
  margin: 0 auto 0 0;
  padding: 2rem 4rem 2rem 2rem;
  font-family: sans-serif;
  box-sizing: border-box;
}

@media (min-width: 640px) {
  .container {
    margin: 0 auto;
    padding: 2rem;
  }
}

.title {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.3rem;
  color: #333;
}
