.container {
  max-width: 600px;
  margin: 0 auto 0 0;
  padding: 1.5rem 3rem 1.5rem 1.5rem;
  position: relative;
}

.container::after {
  content: "";
  position: fixed;
  right: -100px;
  top: -100px;
  bottom: -100px;
  width: calc(100px + 2.4rem);
  background: rgba(0, 0, 0, 0.05);
  pointer-events: none;
}

@media (prefers-color-scheme: dark) {
  .container::after {
    background: rgba(255, 255, 255, 0.03);
  }
}

@media (min-width: 640px) {
  .container {
    margin: 0 auto;
    padding: 1.5rem;
  }

  .container::after {
    display: none;
  }
}

.title {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.3rem;
  color: var(--foreground);
}
