on:
  push:
  release:
    types: [published]
jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      deployments: write
    name: Check, Build and Deploy
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: "1.3.9"
      - name: Install
        run: bun install
      - name: Lint
        run: bun run lint
      - name: Format Check
        run: bun run format-check
      - name: Build
        run: bun run build:cf
      - name: Deploy
        if: github.event_name == 'release'
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
        run: bun run deploy:cf
